<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="template.css">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <header class="col-md-12">
        <h1>City Gallery</h1>
      </header>
    </div>
    <div class="row">
      <nav class="col-md-2">
        <div class="list-group">
          <a href="#list-item-1" class="list-group-item-action">London</a>
          <a href="#list-item-2" class="list-group-item-action">Paris</a>
          <a href="#list-item-3" class="list-group-item-action">Brunei</a>
        </div>
      </nav>
      <section class="col-md-10">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
          <h2 id="#list-item-1">London</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ipsum ornare, egestas quam sed, fringilla eros. Nam ipsum ligula, luctus id est non, sagittis laoreet justo. Morbi accumsan pharetra odio, quis aliquet nisl sodales et. Etiam ut justo dui. Donec sit amet dui eu orci ultricies ullamcorper. Quisque neque nisi, congue non lorem non, pellentesque varius lorem. Pellentesque at purus augue. Donec aliquam nisl velit, vel faucibus urna aliquam at.
          </p>
        </div>        
      </section>
    </div>
    <div class="row">
      <footer class="col-md-12">Criado por Bruno César Angst</footer>
    </div>  
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>